<h1>Welcome to SoftUni Wiki!</h1>
<div class="spacer">
    <h2>{{title}}
        <div class="controls">                
            <a href="/article/edit/{{_id}}">[edit]</a>                
            <a href="/article/history/{{_id}}">[history]</a>            
        </div>
    </h2>
    <article>        
        <p>
            {{content}}
        </p>
    </article>
</div>