@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
html, body{
   margin: 0;
    padding: 0;    
}
header{
    background-color: black;
    width: 100%;
    background-color: #234465 !important;
}
header .parent-div{
    background-color: #234465 !important;
    display: inline-block;
    width: 100%;
}
header .headers{
    display: inline-block;
    color:white;
    margin-left: 10px;
    float: left;
}
.headers h4{
    font-size: 20px;
}
#logo-img{
    width: 17%;
    float: right;
    margin-top: 16px;
    margin-right: 10px;
    padding: 0.5rem 0.5rem 0 0;
}
#main{
    background: url(images/background.png) no-repeat center center;
}
main{
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-left: 17px;
}
main .create-article h3{
    color: #234465 !important;
    font-size: 20px;
}
.create-article, .article-list, #logo-img-wizard{
    display: inline-block;
}
.create-article{
    vertical-align: top;
    width: 24%;
    margin-left: 5px;
}
.article-list{
    vertical-align: top;
    display: inline-block;
    width: 35%;
}
.article-list h1{
    font-size: 40px;
    color: #234465;
    text-align: right;
    text-decoration: underline;
}
.article-list article {
    border-bottom: 2px solid #234465;
    font-style: italic;
    font-size: 25px;
    word-wrap: break-word;
    margin-left: 5%;
}
.logo-img-wizard{   
    width: 40%;
    float: right;
}
#logo-img-wizard{
    width: 39%;
    font-size: 100px;
    float: right;
    margin-right: 10px;
}
#create-bnt{
    display: inline-block;
    font-size: 18px;
    color:white;
    background-color: #234465 !important;
    border-radius: 3px;
    border: 0px;
}