body{
    background-color: rgb(202, 214, 202);
}
nav{
    margin: 12px;
    border: 3px solid purple;
}
footer{
    margin: 12px;
    border: 3px solid purple;
}
form{
    margin: 12px;
    border: 3px solid purple;
}